

.mobile{
  width: 465px;
  height: 400px;
  margin-left: 100px;
  position: relative;
  margin-top: 50px;
}
.leftbar{
background-color: #00aeef;
}
td {
  border-collapse: collapse;
  border: 1px black solid;
}
tr:nth-of-type(5) td:nth-of-type(1) {
  visibility: hidden;
}
.rotate {
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
  margin-left:20px;
}
.description_block{
  
width: 38px;
    background-color: rgba(0,174,239,0.2);
	border-right: 2px solid #00aeef;
}
.description_block_text{
transform: rotate(-90deg);
    display: inline-block;
    font-size: 17pt;
    margin-left: -8px;
    font-family: "Helvetica LT Std Light";
}
#mobile_qr{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.setting_block, .type_block , .out_block{
/*border: 1px solid black;*/
border-bottom: 1px solid white;
/*height: 150px;*/
position:relative;
padding-left: 10px;
/*padding: 10px;*/
}

.wrong{
	border: 2px solid red;
}
.debug{
	display:none;
}
.setting_done{
	border-left: 8px solid #2BB673; 
}
.status{
	position: absolute; bottom: 2px; right: 2px; width: 200px; text-align:right;
	font-size: 11pt;
}

.input_field{
}

.port_0{

    background-color: #cbebf9;
}
.port_3{
    background-color: #feefda;
    
}
.port_1{
    background-color: #d3ebe0;
}
.port_2{
    background-color: #fddfd4;
}
body{
	margin: 0px;
}
.tool_text{
display: block;
    font-size: 11pt;
    text-align: center;
}
.tool_box{
	display: inline-block;
}
#left{
	width: 50%;
	background-color: #D0D2D3;
	height: 100%;
}
#right{
background-repeat: no-repeat;
background-position: center;
padding: 5px;
	width:50%;
	float: right;
	height: 100%;
}
.menuitem {
display: inline-block;
width: 33.33%;
height: 100px;
margin: -2px;
}
.menuitem img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.state{
position: absolute; 
bottom: 10px; 
right: 10px;
}
.left_content{
font-size: 13pt;
padding: 30px;
padding-top: 30px;
}
.left_content input,label,button{
	width: 200px;
	height: 20pt;
	display:inline-block;
}
#menu{
border-bottom: 2px solid white;
}
.ui-draggable{
	width: 100px;
	height: 100px;
}
.esp_image{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -164;
  margin-left: -233;
  display: block;
}

.input_active{
	background-image: url("../img/droppable.png");
}

.input_hover{
	background-image: url("../img/hover.png");
}

.input_drop{
	opacity: 1;
}
.esp{

position: absolute;
width: 467px;

top: 50%;
  left: 50%;
  margin-top: -395px;
  margin-left: -233px;}
.esp div{
display: inline-block;
}
.esp div span{
	position: absolute;
}

.tool_sensor{
	height: 100px;
}
#buffer{
	margin: 20px;
	height: 400px;
	overflow: auto;
	-webkit-user-select: text;
}
#box
{
	width: 150px;
	height: 150px;
	background: #FFF;
	border: red dotted 5px;
	text-align: center;
	position: absolute;
	margin-left: -75px;
	margin-top: -75px;
	left: 50%;
	top: 50%;
	z-index: 20;
	display: none;
}

#screen
{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
}
